.receita {
    background-color: aliceblue;
    border: 1px solid black;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

#inputbusca {
    border-radius: 10px;
}